
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p>Hii there(❁´◡`❁)...!<br> This is the Blog Website which helps you to note your Daily needs and updates which you can or been updating for making your work easier..!<br>
          Try it out and enjoy it╰(*°▽°*)╯...!</p>
    <p> <%= startingContent %> </p>



  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post.title%>">Read More</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
